# IDE/System based files and folders #
.buildpath
.project
.settings
.DS_Store
.idea

# Ignore everything by default then whitelist paths
/administrator/*
!/administrator/components
/administrator/components/*
!/administrator/components/com_apps
/bin
/build
/cache
/cgi-bin
/cli/*
!/components
/components/*
!/components/com_apps
/images
/includes
!/jedapps
/language
/layouts
/libraries
/modules
/plugins
/templates
/tests
/tmp
/.htaccess
/.travis.yml
/CONTRIBUTING.md
/LICENSE.txt
/README.txt
/build.xml
/configuration.php
/htaccess.txt
/index.php
/phpunit.xml.dist
/phpunit.xml
/robots.txt
/robots.txt.dist
/travisci-phpunit.xml
/web.config.txt

# Local Composer tools
/vendor
