# IDE/System based files and folders #
.buildpath
.project
.settings
.DS_Store
.idea

# Ignore everything by default then whitelist paths
/administrator/*
!/administrator/components
/administrator/components/*
!/administrator/components/com_apps
!/administrator/language
/administrator/language/*
!/administrator/language/en-GB
/administrator/language/en-GB/*
!/administrator/language/en-GB/en-GB.com_apps.ini
/bin
/build
/cache
/cgi-bin
/cli/*
!/components
/components/*
!/components/com_apps
/images
/includes
!/jedapps
/language/*
!/language/en-GB
/language/en-GB/*
!/language/en-GB/en-GB.com_apps.ini
/layouts/*
!/layouts/joomla
/layouts/joomla/*
!/layouts/joomla/apps
/libraries
/modules
/plugins
/templates
/tests
/tmp
/.htaccess
/.travis.yml
/CONTRIBUTING.md
/LICENSE.txt
/README.txt
/build.xml
/configuration.php
/htaccess.txt
/index.php
/phpunit.xml.dist
/phpunit.xml
/robots.txt
/robots.txt.dist
/travisci-phpunit.xml
/web.config.txt
