.row-fluid .sidebar, .row-fluid .extensions {
    float: left;
}

.row-fluid .sidebar {
    width: 25%;
}

.row-fluid .extensions {
    width: 75%;
}

.com-apps-container .thumbnail .item-image img {
	max-width: 100%;
	max-height: 100%;
}
