<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="jed"
		label="COM_APPS_FIELDSET_JED_OPTIONS_LABEL"
		>
		<field
			name="cdn"
			type="url"
			label="COM_APPS_FIELD_CDN_LABEL"
			filter="url"
			validate="url"
			default="https://extensions.joomla.org/"
		/>
		<field
			name="route_prefix"
			type="text"
			label="COM_APPS_FIELD_ROUTING_PREFIX_LABEL"
			default="index.php?option=com_apps&amp;format=json"
		/>
	</fieldset>
	<fieldset
		name="ui"
		label="COM_APPS_FIELDSET_UI_OPTIONS_LABEL"
		description="COM_APPS_FIELDSET_UI_OPTIONS_DESC"
	>
		<field
			name="default_limit"
			type="number"
			label="COM_APPS_FIELD_DEFAULT_LIMIT_LABEL"
			filter="int"
			validate="number"
			default="128"
		/>
	</fieldset>
</config>
