
ul.custom-select{
display: inline-block;
min-width: 50px;
font-size: 12px;
max-width: 322px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 3px solid #004785;
height: 33px;
width: 180px;
margin: 0 auto 0 20px;
}
ul.custom-select > li > a:before{
content: "";
display: block;
width: 33px;
height: 28px;
background: url(../images/default/branch_arrow.png) 0px 0px no-repeat;
position: absolute;
right: 0;
top: 3px;
background-size: cover;
}
ul.custom-select.open-select > li > a:before{
background-color: #f8f8f8;
background-size: cover;
}
ul.custom-select > li > a{
	display: block;
	overflow: hidden;
	height: 33px;	
	line-height: 33px;
	text-decoration: none;
	font-family: Open Sans;
	min-width: 95px;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 12px;
	margin-left: 8px;
}
ul.custom-select.open-select> li a{
outline:none;
}
ul.custom-select > li{
	display: block;
	position: relative;
	width: inherit;	
}	
	

#unique-custom-pane li:hover{
	background: #f8f8f8;
}
#unique-custom-pane li:last-child{
	border-bottom: 0;
}
#unique-custom-pane li{
	padding: 0 17px 0 0;
	cursor: pointer;
	display: block;
	height: 29px;
	line-height: 29px;
    color: #004785;
	font-family: Open Sans;
	border-bottom: solid 1px #fff;
	background: #f8f8f8;
	white-space: nowrap;
	font-weight: 600;
	font-size: 12px;
	text-align: right;
	
	webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
    -ms-transition: color 0.5s;
    transition: color 0.5s;
	-webkit-transition-property: color;
	-webkit-transition-duration: 0.5s;
}
#unique-custom-pane{
	position: absolute;
	z-index: 99999;
	display: none;
	background: #f8f8f8;
	min-width: 117px;
	overflow-y: hidden !important;
	margin-left: 0;
	width: 186px;
}



#unique-custom-pane::-webkit-scrollbar {
    width: 0;
    background: #fff; 
}
 

#unique-custom-pane::-webkit-scrollbar-track {

}

#unique-custom-pane::-webkit-scrollbar-thumb {

    background: #fff; 
	
}

.radiobutton.checked .point{
visibility: visible;
opacity: 1;
}
.radiobutton{
display: inline-block;
width: 12px;
height: 12px;
background: white;
border-radius: 9px;
border: solid 3px #536682;
margin: 6px;
-webkit-transition: all 0.3s ;
-moz-transition: all 0.3s ;
-ms-transition: all 0.3s ;
-o-transition: all 0.3s ;
transition: all 0.3s ;
cursor: pointer;
}
.radiobutton .point{
width: 8px;
height: 8px;
margin: 2px;
background: #EA2E49;
border-radius: 6px;
opacity: 0;
visibility: hidden;
-webkit-transition: all 0.3s ;
-moz-transition: all 0.3s ;
-ms-transition: all 0.3s ;
-o-transition: all 0.3s ;
transition: all 0.3s ;	
}

.checkbox .check{
width: 11px;
height: 11px;
visibility: hidden;
-webkit-transition: all 0.3s ;
-moz-transition: all 0.3s ;
-ms-transition: all 0.3s ;
-o-transition: all 0.3s ;
transition: all 0.3s ;	
opacity: 0;
background: url(../images/check.png) center center no-repeat;
}
.checkbox.checked .check{
visibility: visible;
-webkit-transition: all 0.3s ;
-moz-transition: all 0.3s ;
-ms-transition: all 0.3s ;
-o-transition: all 0.3s ;
transition: all 0.3s ;
opacity: 1;
}
.checkbox{
display: inline-block;
width: 11px;
height: 11px;
background: white;
border: solid 2px #536682;
margin: 6px;
cursor: pointer;
}
body .radio, body .checkbox {
min-height: 0px;
padding-left: 0px;
}