.radiobutton.checked .point{
visibility: visible;
opacity: 1;
}
.radiobutton{
display: inline-block;
width: 12px;
height: 12px;
background: white;
border-radius: 9px;
border: solid 3px #536682;
margin: 6px;
-webkit-transition: all 0.3s ;
-moz-transition: all 0.3s ;
-ms-transition: all 0.3s ;
-o-transition: all 0.3s ;
transition: all 0.3s ;
cursor: pointer;
}
.radiobutton .point{
width: 8px;
height: 8px;
margin: 2px;
background: #EA2E49;
border-radius: 6px;
opacity: 0;
visibility: hidden;
-webkit-transition: all 0.3s ;
-moz-transition: all 0.3s ;
-ms-transition: all 0.3s ;
-o-transition: all 0.3s ;
transition: all 0.3s ;	
}

.checkbox .check{
width: 11px;
height: 11px;
visibility: hidden;
-webkit-transition: all 0.3s ;
-moz-transition: all 0.3s ;
-ms-transition: all 0.3s ;
-o-transition: all 0.3s ;
transition: all 0.3s ;	
opacity: 0;
background: url(../images/check.png) center center no-repeat;
}
.checkbox.checked .check{
visibility: visible;
-webkit-transition: all 0.3s ;
-moz-transition: all 0.3s ;
-ms-transition: all 0.3s ;
-o-transition: all 0.3s ;
transition: all 0.3s ;
opacity: 1;
}
.checkbox{
display: inline-block;
width: 11px;
height: 11px;
background: white;
border: solid 2px #536682;
margin: 6px;
cursor: pointer;
}
body .radio, body .checkbox {
min-height: 0px;
padding-left: 0px;
}