.full-item-container {
	margin: 35px 25px 20px 25px;
	background-color: #f5f5f5;
	padding-top: 20px;
	font-family: 'Lato', sans serif;
}
.item-logo{
	max-width: 100%;
	height: auto;
	margin-left: 20px;
	margin-right: 10px;
	float: left;
}
.item-info-container{
	overflow: hidden;
}
.item-title{
	color: #185186;
	font-weight: bold;
	font-size: 18px;
}
.item-buttons{
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
	text-align: center;
}
.full-item-container ul.item-type{
	display: inline-block;
}
.full-item-container ul.item-type:after{
	margin: 0;
	height: 0;
}
.full-item-container .item-buttons a{
	display: inline-block;
	font-size: 14px;
	color: #185186;
	font-weight: bold;
	border: solid 2px #185186;
	padding: 6px 14px;
	margin-top: 5px;
	text-decoration: none;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;	
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;	
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;	
}
.full-item-container .item-buttons a.install{
	border: solid 2px #299f3b;	
	background-color: #299f3b;
	color: #ffffff;
}
.full-item-container .rating{
	display: inline-block;
	margin-top: 8px;
}
.item-version{
	background: url(version.png);
	background-repeat:no-repeat;
	color: #838383;
	padding-left: 20px;
	font-size: 14px;
	font-weight: bold;
	width: 100%;
	display: block;
	margin-top: 8px;
}
.item-desc{
	margin-left: 20px;
	font-size: 14px;
	font-weight: bold;
	margin-right: 20px;
}
.item-desc .item-desc-title{
	color: #1c5488;
	font-size: 16px;
}
.item-desc .item-desc-text{
	color: #545454;
	font-weight: normal;
	margin-bottom: 20px;
}
hr.bottom-dash {
	height: 1px;
	margin: auto 30px;
	background: #e8e8e8;
	border: 0;
	margin-bottom: 75px;
	margin-top: 75px;
}
.view-toggle{
	float:right;
}
.view-toggle span{
	width: 38px;
	height: 38px;
	display: inline-block;
	cursor: pointer;
}
.grid-view	{
	background: url(grid-view.png);
}
.grid-view-container {
    margin-top:45px;
}
.grid-view-container .row-fluid .span3 .item-description{
    display:none;
}
.list-view	{
	background: url(list-view.png);
	margin-left: 8px;
}
.list-view-container{
    margin-top:10px;
    margin-bottom:38px;
}
.list-view-container .row-fluid{
    padding:0 20px 0 15px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing: border-box;
}

.list-view-container .row-fluid .item{
    margin-left:0;
    border-bottom:1px solid #ccc;
    margin-bottom:10px;
    display:inline-block;
}

.list-view-container .row-fluid .item:hover{
    border-color:#185186;
}

.list-view-container .row-fluid .item:hover h4 a,
.list-view-container .row-fluid .item:hover .item-description{
    color:#33608f;
    text-decoration:none;
}

.list-view-container .row-fluid .item .item-image{
    display:none !important;
}

.list-view-container .row-fluid .item h4{
    text-align:left;
    margin:0;
    margin-right:10px;
    min-height:34px;
    border-right:1px solid #ccc;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing: border-box;
}

.list-view-container .row-fluid .item h4 a{
    font-size:16px;
    color:#333;
    display:inline-block;
}
.list-view-container .row-fluid .item h4, 
.list-view-container .row-fluid .item .item-type,
.list-view-container .row-fluid .item .item-description{
    float:left;
}

.list-view-container .row-fluid .item .rating{
    float:right;
    text-align:right;
}

.list-view-container .row-fluid .item ul.item-type{
    margin-right:35px;
}

.list-view-container .row-fluid .item ul.item-type:after{
    width:0;
    height:0;
}

.list-view-container .row-fluid .item h4{
    width:20%;
}

.list-view-container .row-fluid .item .rating{
    width:18%;
}

.list-view-container .row-fluid .item ul.item-type{
    width:18%;
}

.list-view-container .row-fluid .item .item-description{
    width:32%;
}
.chzn-drop{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing: border-box;
}

.com-apps-advanced-search .chzn-container,
.com-apps-advanced-search .chzn-container .chzn-drop{
    width:100% !important;
}

@media only screen and (max-width:768px){
    
    .list-view-container .row-fluid .span3{
        margin-bottom:20px;
        padding-bottom:20px;
    }
    
    .list-view-container .row-fluid .item h4{
        height:auto !important;
    }
    
    .list-view-container .row-fluid .item h4,
    .list-view-container .row-fluid .item .rating,
    .list-view-container .row-fluid .item ul.item-type,
    .list-view-container .row-fluid .item .item-description{
        width:auto;
        float:none;
        text-align:center;
        margin:0 !important;
        padding:0 !important;
        border:0;
    }
    
    .com-apps-container .row-fluid .span9 .row-fluid .span6:nth-child(2) .view-toggle{
        margin-bottom:22px;
    }
    
    .sort-by,
    .chzn-container,
    .chzn-drop{
        width:100% !important;
    }
    
    .com-apps-container .com-apps-advanced-search{
        padding:0;
    }
}