img.com-apps-logo{
	display: block;
	margin: 11px auto 18px;
}
.com-apps-sidebar > h3{
	color: #545454;
	font-size: 18px;
	padding: 13px 18px;
	min-height: 20px;
	line-height: 20px;
	margin: 0;
	font-weight: 700;
	font-family: 'Lato', sans serif;
	background: #f5f5f5;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;	
	border-bottom: solid 1px #e5e5e5;
}
.com-apps-sidebar{
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.1);
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border: solid 1px #e5e5e5;
	font-family: 'Lato', sans serif;
}
.com-apps-sidebar ul.com-apps-list > li > a{
	display: block;
	line-height: 20px;
	padding: 15px;	
	font-weight: bold;
	font-family: 'Lato', sans serif;
	font-size: 14px;
	color: #185186;
}
.com-apps-sidebar ul.com-apps-list > li ul li a span{
	font-size: 17px;
	display: block;
	float: right;
	color: #fff;
	background: #185186;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	font-size: 12px;
	font-family: 'Lato', sans serif;
	padding: 0 5px;
}
.com-apps-sidebar ul.com-apps-list > li ul li a{
	display: block;
	line-height: 16px;
	padding: 10px 0 10px 15px;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Lato', sans serif;
	text-decoration: none !important;
	color: #185186 !important;
}
.com-apps-sidebar ul.com-apps-list > li ul li{
	display: block;
}
.com-apps-sidebar ul.com-apps-list > li ul{
	display: none;
	margin: 0;
	border-top: solid 1px #185186;
}	
.com-apps-sidebar ul.com-apps-list > li:not(:last-child){
	border-bottom: solid 1px #e8e8e8;
}
.com-apps-sidebar ul.com-apps-list > li.active > a:after{
	background-position: 0 -23px;
} 
.com-apps-sidebar ul.com-apps-list > li > a:hover{
	background: transparent;
	
}
.com-apps-sidebar ul.com-apps-list > li > a:after{
	position: absolute;
	width: 23px;
	height: 23px;
	right: 0;
	top: 13px;
	content: "";
	background: url(../images/accordion-icons.png);
-webkit-transition: background 0.3s ease-in-out;
-moz-transition: background 0.3s ease-in-out;
-ms-transition: background 0.3s ease-in-out;
-o-transition: background 0.3s ease-in-out;
transition: background 0.3s ease-in-out;	
}
.com-apps-sidebar ul.com-apps-list > li{

}
.com-apps-sidebar ul.com-apps-list > li > a{
	display: block;
	position: relative;
	
}
.com-apps-sidebar ul.com-apps-list{
	padding: 0 10px;
	margin: 0;
}
.scroll-pane *{
	outline: none !important;
}
.scroll-pane
{
	/*max-height: 500px; */
	outline: none !important;
	overflow: auto;
	background: #fff;
-webkit-border-bottom-right-radius: 6px;
-webkit-border-bottom-left-radius: 6px;
-moz-border-radius-bottomright: 6px;
-moz-border-radius-bottomleft: 6px;
border-bottom-right-radius: 6px;
border-bottom-left-radius: 6px;	
}
.com-apps-advanced-search > a i{	
	margin: 0 5px 0 0;
}
.com-apps-advanced-search > a{
	color: #185186 !important;
}
.com-apps-advanced-search > a > span{
	display: inline-block;
	font-family: 'Lato', sans serif;
	font-weight: 700;
}
.com-apps-advanced-search > div{
	display: none;
}
.com-apps-advanced-search.active{
	background: #fdfdfd;
	border: solid 2px #185186;
	background: #fdfdfd;
	border: solid 2px #185186;
	z-index: 5;	
	width: 250px;
}
.com-apps-advanced-search.active > div > div .inp-row3 > label,
.com-apps-advanced-search.active > div > div .inp-row2 > label{
	display: inline-block;
}
.com-apps-advanced-search.active > div > div .inp-row3 > input,
.com-apps-advanced-search.active > div > div .inp-row2 > input{
	margin: 0 10px 0 0;
vertical-align: middle;
}
.com-apps-advanced-search.active > div > div .inp-row3{
	margin: 0 0 5px 0;
}
.com-apps-advanced-search.active > div > div .inp-row2 > label > span{
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	margin-left: 1px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	margin-right: 5px;
	padding: 3px 4px 3px 20px;
	background-image:url(../images/joomla-ex.png);
	background-position:  3px 5px;
	background-repeat:no-repeat;
}
.com-apps-advanced-search.active > div > div .inp-row3 > label > span{
	-webkit-border-radius: 100%;
	border-radius: 100%;
	width: 19px;
	height: 19px;
	display: inline-block;
	margin-left: 1px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	margin-right: 5px;
}
.com-apps-advanced-search.active > div > div .inp-row3 > label{
	font-size: 10px; 
	font-weight: 700;
	color: #4b4b4b;
	font-family: 'Lato', sans serif;
	
}
.com-apps-advanced-search.active > div > div .inp-row3 > label,
.com-apps-advanced-search.active > div > div .inp-row2 > label{
	margin: 0;
}
.com-apps-advanced-search.active > div > div:last-child{
	border: 0;
	padding: 0;
}
.com-apps-advanced-search.active > div > div .inp-row1 > *:focus{
	outline: none;
	border: solid 2px #22a86c;
}
.com-apps-advanced-search.active > div > div .inp-row1 > input{
	display: block;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 34px;
	margin: 0 0 10px 0;
	border: solid 2px #185186;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	color: #7d7d7d;
	font-size: 14px;
	font-family: 'Lato', sans serif;
	font-weight: 700;
}
.com-apps-advanced-search.active > div > div{
	margin: 10px 0 0 0;
	padding-bottom: 10px;
	border-bottom: solid 1px #e8e8e8
}
.com-apps-advanced-search > div > div a.cancel{
	display: inline-block;
	padding: 0 20px;
	line-height: 27px;
	font-size: 12px;
	border: solid 2px #185186;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-family: 'Lato', sans serif;
	color: #185186 !important;
	text-decoration: none !important;
	float: left;
}
.com-apps-advanced-search > div > div a.search{
	display: inline-block;
	padding: 0 20px;
	line-height: 27px;
	font-size: 12px;
	border: solid 2px #e66d4e;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-family: 'Lato', sans serif;
	color: #fff !important;
	text-decoration: none !important;
	float: right;
	background: #e66d4e;
}
.com-apps-advanced-search.active > div{
	display: block;
}
.com-apps-advanced-search{
	margin: 5px 0 0 0;
	padding: 10px;
	background: transparent;
	border: solid 2px transparent;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	position: absolute;
}
.com-apps-search [class^="icon-"], [class*=" icon-"] {
display: inline-block;
width: 36px;
height: 36px;
line-height: 36px;
}
.com-apps-search i{
	float: right;
	color: #185186;
	font-size: 24px;
	text-align: center;
}
.com-apps-search input{
	font-size: 18px;
	color: #000000;
	display: inline-block;
	vertical-align: top;
	background: transparent;
	border: 0;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	padding: 5px 0 5px 10px;
    width:75%;
	height: 26px;	
	font-family: 'Lato', sans serif;
	font-weight: 400;
	line-height: normal;
}
.com-apps-search{
	margin: 5px 0 27px 0;
	background: #fdfdfd;
	border: solid 1px #E5E5E5;
	line-height: 38px;
	height: 36px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.1);
}
.com-apps-container{
	background: #ededed;
	padding: 20px;
}
.item-view {
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.1);
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border: solid 1px #e5e5e5;
	background-color: #fdfdfd;
}
.grid-header {
	background: #f5f5f5;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: solid 1px #e5e5e5;
}
.sort-by {
	display: inline-block;
	box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing: border-box;
	padding: 10px 18px;
}

.grid-header .breadcrumbs {
	display: inline-block;
	color: #545454;
	font-size: 18px;
	padding: 13px 18px;
	min-height: 20px;
	line-height: 20px;
	margin: 0;
	font-weight: 700;
	font-family: 'Lato', sans serif;
	
}
.grid-header .breadcrumbs a {
	color: #545454;
}
.grid-header .breadcrumbs span.active-extension {
	color: #185186;
}
hr.pagination-top {
	height: 1px;
	margin: auto 30px;
	background: #e8e8e8;
	border: 0;
}
.item {
	font-family: 'Lato', sans serif;
	margin-bottom: 38px;
}
i.icon-star {
	width: 22px;
	height: 20px;
	line-height: 20px;
}
i.icon-star:before {
	font-size: 20px;
	color: #bbbbbb;
}
i.icon-star.rated:before {
	color: #e66d4e;
}
ul.item-type {
	list-style: none;
	margin: 0;
	text-align: center;
	color: #fff;
	font-size: 10px;
	margin-top: 10px;
}
ul.item-type li {
	-webkit-border-radius: 100%;
	border-radius: 100%;
	width: 19px;
	height: 19px;
	display: inline-block;
	margin-left: 1px;
}
.m {
	background: #e12125;
}
.p {
	background: #7e56bf;
}
.s {
	background: #e9cc9c;
}
.t {
	background: #2293d7;
}
.c {
	background: #299f3b;
}
.j25{
	background-color: #7e56bf;
}
.j2x{
	background-color: #dea934;
}
.item h4 a {
	color: #185186;
	font-size: 14px;
}
ul.item-type:after {
	content: "";
	display: block;
	height: 1px;
	width: 40px;
	background-color: #243f5c;
	margin: 12px auto 7px auto;
}
.item-image {
	max-width: 110px;
	max-height: 110px;
	width: 110px;
	height: 110px;
	margin: 0 auto;
}
ul.grid-pagination {
	text-align: center;
	margin: 20px 0;
}
ul.grid-pagination li {
	display: inline-block;
	list-style: none;
	width: 36px;
	height: 36px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #bbbbbb;
	line-height: 36px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}
ul.grid-pagination li.current {
	background-color: #e66d4e;
}
ul.grid-pagination li a{
	color: #fff;
}
.list-view-container .item {
	display: block;
	width: 100%;
}
.full-item-container {
	margin: 35px 25px 20px 25px;
	padding-top: 20px;
	font-family: 'Lato', sans serif;
}
.item-logo{
	max-width: 100%;
	height: auto;
	margin-left: 20px;
	margin-right: 10px;
	float: left;
}
.item-info-container{
	overflow: hidden;
}
.item-title{
	color: #185186;
	font-weight: bold;
	font-size: 18px;
}
.item-buttons{
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
	text-align: center;
}
.full-item-container ul.item-type{
	display: inline-block;
}
.full-item-container ul.item-type:after{
	margin: 0;
	height: 0;
}
.full-item-container .item-buttons a, .full-item-container .item-buttons button{
	display: inline-block;
	font-size: 14px;
	color: #185186;
	font-weight: bold;
	border: solid 2px #185186;
	padding: 6px 14px;
	margin-top: 5px;
	margin-right: 5px;
	text-decoration: none;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;	
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;	
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	vertical-align: middle;
}
.full-item-container .item-buttons a.install, .full-item-container .item-buttons button.install{
	border: solid 2px #299f3b;	
	background-color: #299f3b;
	color: #ffffff;
}
.full-item-container .rating{
	display: inline-block;
	margin-top: 8px;
}
.item-version{
	background: url(../images/version.png);
	background-repeat:no-repeat;
	color: #838383;
	padding-left: 20px;
	font-size: 14px;
	font-weight: bold;
	width: 100%;
	display: block;
	margin-top: 8px;
}
.item-license{
	background: url(../images/con_info.png);
	background-repeat:no-repeat;
	color: #838383;
	padding-left: 20px;
	font-size: 14px;
	font-weight: bold;
	width: 100%;
	display: block;
	margin-top: 8px;
}
.item-desc{
	margin-left: 20px;
	font-size: 14px;
	font-weight: bold;
	margin-right: 20px;
}
.item-desc .item-desc-title{
	color: #1c5488;
	font-size: 16px;
}
.item-desc .item-desc-text{
	color: #545454;
	font-weight: normal;
	margin-bottom: 20px;
}
hr.bottom-dash {
	height: 1px;
	margin: auto 30px;
	background: #e8e8e8;
	border: 0;
	margin-bottom: 75px;
	margin-top: 75px;
}
.view-toggle{
	float:right;
}
.view-toggle span{
	width: 38px;
	height: 38px;
	display: inline-block;
	cursor: pointer;
}
.grid-view.act{
	background: url(../images/grid-view-act.png);
}
.grid-view.pas	{
	background: url(../images/grid-view-pas.png);
}
.grid-view-container {
    margin-top:45px;
}
.grid-view-container .row-fluid .span3 .item-description{
    display:none;
}
.grid-view-container .item-image{
    width:auto;
    max-width:none;
    text-align:center;
}

.list-view.act	{
	background: url(../images/list-view-act.png);
	margin-left: 8px;
}
.list-view.pas	{
	background: url(../images/list-view-pas.png);
	margin-left: 8px;
}
.list-view-container{
    margin-top:10px;
    margin-bottom:38px;
}
.list-view-container .row-fluid{
    padding:0 20px 0 15px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing: border-box;
}

.list-view-container .row-fluid .item{
    margin-left:0;
    border-bottom:1px solid #ccc;
    margin-bottom:10px;
    display:inline-block;
}

.list-view-container .row-fluid .item:hover{
    border-color:#185186;
}

.list-view-container .row-fluid .item:hover h4 a,
.list-view-container .row-fluid .item:hover .item-description{
    color:#33608f;
    text-decoration:none;
}

.list-view-container .row-fluid .item .item-image{
    display:none !important;
}

.list-view-container .row-fluid .item h4{
    text-align:left;
    margin:0;
    margin-right:10px;
    min-height:34px;
    border-right:1px solid #ccc;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing: border-box;
}

.list-view-container .row-fluid .item h4 a{
    font-size:16px;
    color:#333;
    display:inline-block;
}
.list-view-container .row-fluid .item h4, 
.list-view-container .row-fluid .item .item-type,
.list-view-container .row-fluid .item .item-description{
    float:left;
}

.list-view-container .row-fluid .item .rating{
    float:right;
    text-align:right;
}

.list-view-container .row-fluid .item ul.item-type{
    margin-right:35px;
}

.list-view-container .row-fluid .item ul.item-type:after{
    width:0;
    height:0;
}

.list-view-container .row-fluid .item h4{
    width:20%;
}

.list-view-container .row-fluid .item .rating{
    width:18%;
}

.list-view-container .row-fluid .item ul.item-type{
    width:18%;
}

.list-view-container .row-fluid .item .item-description{
    width:32%;
}
.chzn-drop{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing: border-box;
}

.com-apps-advanced-search .chzn-container,
.com-apps-advanced-search .chzn-container .chzn-drop{
    width:100% !important;
}

.com-apps-advanced-search .inp-row1:nth-child(3),
.com-apps-advanced-search .inp-row2:first-child{
    margin-bottom:7px;
}

.com-apps-advanced-search .checkbox{
    margin-bottom:0;
    margin-top:0;
    float:left;
}

.com-apps-advanced-search label,
.com-apps-advanced-search label span{
    text-transform:capitalize;
}

.com-apps-container .span3,
.com-apps-container .span6,
.com-apps-container .span9{
    margin-left: 1.7624309392265%;
}

@media only screen and (max-width:768px){
    .list-view-container .row-fluid .span3{
        margin-bottom:20px;
        padding-bottom:20px;
    }
    
    .list-view-container .row-fluid .item h4{
        height:auto !important;
    }
    
    .list-view-container .row-fluid .item h4,
    .list-view-container .row-fluid .item .rating,
    .list-view-container .row-fluid .item ul.item-type,
    .list-view-container .row-fluid .item .item-description{
        width:auto;
        float:none;
        text-align:center;
        margin:0 !important;
        padding:0 !important;
        border:0;
    }
    
    .com-apps-container .row-fluid .span9 .row-fluid .span6:nth-child(2) .view-toggle{
        margin-bottom:22px;
    }
    
    .sort-by,
    .chzn-container,
    .chzn-drop{
        width:100% !important;
    }
    
    .com-apps-container .span3,
    .com-apps-container .span6,
    .com-apps-container .span9{
        margin-left: 0;
    }
    
    .com-apps-container .full-item-container{
        text-align:center;
    }
    
    .com-apps-container .full-item-container img.item-logo{
        float:none;
    }
    
    .com-apps-container .full-item-container .item-info-container .rating{
        display:block;
    }
    
    .com-apps-container .full-item-container .item-info-container .item-version{
        display:inline-block;
        width:auto;
    }
    
    .grid-view-container .row-fluid .span3{
        width:50%;
        float:left;
    }
}

@media only screen and (max-width:500px){
    .grid-view-container .row-fluid .span3{
        width:100%;
        float:none;
    }
}
.radiobutton.checked .point{
visibility: visible;
opacity: 1;
}
.radiobutton{
display: inline-block;
width: 12px;
height: 12px;
background: white;
border-radius: 9px;
border: solid 3px #536682;
margin: 6px;
-webkit-transition: all 0.3s ;
-moz-transition: all 0.3s ;
-ms-transition: all 0.3s ;
-o-transition: all 0.3s ;
transition: all 0.3s ;
cursor: pointer;
}
.radiobutton .point{
width: 8px;
height: 8px;
margin: 2px;
background: #EA2E49;
border-radius: 6px;
opacity: 0;
visibility: hidden;
-webkit-transition: all 0.3s ;
-moz-transition: all 0.3s ;
-ms-transition: all 0.3s ;
-o-transition: all 0.3s ;
transition: all 0.3s ;	
}

.checkbox .check{
width: 15px;
height: 15px;
visibility: hidden;
-webkit-transition: all 0.3s ;
-moz-transition: all 0.3s ;
-ms-transition: all 0.3s ;
-o-transition: all 0.3s ;
transition: all 0.3s ;	
opacity: 0;
background: url(../images/check.png) 2px 2px no-repeat;
}
.checkbox.checked .check{
visibility: visible;
-webkit-transition: all 0.3s ;
-moz-transition: all 0.3s ;
-ms-transition: all 0.3s ;
-o-transition: all 0.3s ;
transition: all 0.3s ;
opacity: 1;
}
.checkbox.checked{
	background-color: #22a86c;
}
.checkbox{
display: inline-block;
width: 17px;
height: 17px;
background: white;
border: solid 2px #22a86c;
margin: 6px;
cursor: pointer;
border-radius:4px;
}
body .radio, body .checkbox {
min-height: 0px;
padding-left: 0px;
}
.com-apps-container .jspContainer{
	min-height: 500px;
}

.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}
 
.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 6px;
	height: 100%;
	margin: 0px 5px;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: transparent;
	position: relative;
}

.jspDrag
{
	background: #bbbbbb;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 6px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}
.com-apps-sidebar ul.com-apps-list ul.dummy-submenu li a{
	display: block;
	line-height: 16px;
	padding-left: 20px;	
	font-weight: normal;
	font-family: 'Lato', sans serif;
	font-size: 12px;
	color: #185186;
}
.hidden {
	display: none;
}